*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
          background-image: radial-gradient(circle, rgb(57, 10, 10), rgb(42, 14, 10), rgb(71, 10, 1));
           height: 100vh;
       width: 100vw;
        display: flex;
    justify-content: center;
    align-items: center;
}
.quiz_container{
    
    width: 500px;
    position: relative;
    color: black;
    background-color: rgb(72, 0, 0);
    box-shadow: 3px 4px 10px black;


}
.quiz_container .Quiz_heading{
    font-size: 35px;
    color: red;
    font-weight: bold;
    text-align: center;
    border-bottom:  2px solid black;
    margin-top: 10px;

    
}
.timer{
    position: absolute;
    top: -60px;
    left: 80%;
    font-size: 40px;
    background-color: green;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding-left:10px ;
    text-align: center;
    display: none;

}
.time_over {
    text-align: center;
    font-size: 40px;
    color: white;
    opacity: 0;
    transition: opacity 0.1s ease;
    display: none;
}

.time_over.active {
    display: block;
    opacity: 1;
}

.timer.active{
    display: flex;
    justify-self: center;
    align-items: center;
}
.quiz_info{
    
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    display:block;
}
.quiz_info.active{
    display: none;
}
.quiz_info .about_quiz{
   font-size: 21px;
   color:  white;
}
.quiz_info .start_quiz_button{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 10px;
   
    background-color: blue;
    color: white;
    padding: 10px;
    font-weight: bold;
}
.quiz_info .start_quiz_button:hover{
    background-color: rgb(2, 34, 152);
}
.askQuestions{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.askQuestions.active{
   display: none;
}
.askQuestions .question-place{
    margin-top: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    margin-left: 15px;
}
.askQuestions .question-place .question{
    color: white;
    font-size: 30px;

}

.askQuestions .options{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom:  6px solid black;
    
   
    
}
.askQuestions .options span{
    width: 90%;
    padding: 10px;
    border: 0.3px solid lightblue;
    font-size: 30px;
    margin-bottom: 20px;
   background-color: rgb(106, 50, 50);
}
.askQuestions .options span:hover{
    background-color: rgb(167, 33, 33);
    color: white;
}
.questionsolve{
    margin-bottom: 30px;
    font-size: 21px;
    color: white;
}
.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.buttons button{
 font-size: 17px;
 padding: 10px;
 width: 140px;
 margin-bottom: 5px;
 border: 0.01px solid green;
 cursor: pointer;
}
.buttons button:hover{
    background-color: blue;
    color: white;
}

.buttons .previce-button{
    background-color: blue;
    opacity: 0;
}
.buttons .previce-button.active{
    opacity: 1;
}
    
.buttons .next-button{
    background-color: transparent;
}
.buttons .next-button.active{
    background-color: blue;
}
/*
the result css===========================

*/
.quiz-result{
    width: 100%;
    display: none;
}
.quiz-result.active{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.result-head{
    font-size: 40px;
    color:white;
}
.circle{
    height: 250px;
    width: 250px;
    background: conic-gradient(
       rgba(59,130,246) 0deg var(--angle),
        rgba(59,130,246,0.2) var(--angle) 360deg
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.incircle{
    height: 80%;
    width: 80%;
    background-color: #e0f2fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreText{
    font-size: 40px;
}


.quiz-result .result .score{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.quiz-result .buttons {
    
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.quiz-result button:hover{

    background: #666;
}

.time_over {
    text-align: center;
    font-size: 40px;
    color: white;
    opacity: 0;
    display: none;
    transition: opacity 0.1s ease;
}

.time_over.active {
    display: block;
    opacity: 1;
}



@media (max-width: 700px) {
    .quiz_container{
        width: 100%;
    }
    .quiz_container .Quiz_heading{
    font-size:30px;
    margin-left: 5px;
    text-align: left;
    }
    .timer{
        font-size: 24px;
        height: 70px;
        top: -15px;
        width: 70px;
    }
    .askQuestions .question-place .question{
        font-size: 24px;
    }
    .askQuestions .options span{
        text-align: center;
        padding: 2px;        
        font-size: 23px;
        width: 90%;
    }
    .time_over{
        font-size: 30px;
    }
    .result-head{
        font-size: 30px;
    }
    .circle{
        height: 180px;
        width: 180px;
    }
}


